[submodule "MyHometown"]
	path = MyHometown
	url = https://github.com/Cobra1512/MyHometown
[submodule "MyWebsite"]
	path = MyWebsite
	url = https://github.com/Cobra1512/MyWebsite
[submodule "Lab4"]
	path = Lab4
	url = https://github.com/Cobra1512/Lab4
[submodule "Lab5"]
	path = Lab5
	url = https://github.com/Cobra1512/Lab5
