[submodule "MyHometown"]
	path = MyHometown
	url = https://github.com/Cobra1512/MyHometown
[submodule "MyWebsite"]
	path = MyWebsite
	url = https://github.com/Cobra1512/MyWebsite
[submodule "Lab4"]
	path = Lab4
	url = https://github.com/Cobra1512/Lab4
[submodule "Lab5"]
	path = Lab5
	url = https://github.com/Cobra1512/Lab5
[submodule "Lab6"]
	path = Lab6
	url = https://github.com/Cobra1512/Lab6
[submodule "Lab7"]
	path = Lab7
	url = https://github.com/Cobra1512/Lab7
[submodule "Lab8"]
	path = Lab8
	url = https://github.com/Cobra1512/Lab8
[submodule "pages/Lab2"]
	path = pages/Lab2
	url = https://github.com/Cobra1512/Lab2
[submodule "pages/MyHometown"]
	path = pages/MyHometown
	url = https://github.com/Cobra1512/MyHometown
[submodule "pages/MyWebsite"]
	path = pages/MyWebsite
	url = https://github.com/Cobra1512/MyWebsite
[submodule "pages/Lab4"]
	path = pages/Lab4
	url = https://github.com/Cobra1512/Lab4
